<footer class="footer">
      <div class="container">
          <div class="copyright">
              <p>© 2025 Karla Sierra. Todos los derechos reservados.</p>
          </div>
          <div class="redes-sociales">
              <a href="https://github.com/Karla1119/Portafolio_Actualizado.git" target="_blank">
                  <i class="fa-brands fa-github"></i>
              </a>
              <a href="https://www.instagram.com/luciiia_sm19?igsh=MWZ2ZjB6YmE5aXEyYw==" target="_blank">
                  <i class="fa-brands fa-instagram"></i>
              </a>
          </div>
      </div>
  </footer>