<header class="header">
        <div class="logo-container">
            <h1 class="logo"><span>K</span>arla</h1>
        </div>
        <nav class="nav">
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="about.html">Sobre Mí</a></li>
                <li><a href="proyectos.html">Proyectos</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>