header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: @primary-color-super-dark;
    color: @primary-text-color;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    flex-direction: column;
    font-family: @primary-font;

    @media (min-width: #breaks[tablet]) {
        flex-direction: row;
    }

    .logo-container {
        display: flex;
        align-items: center;

        h1.logo {
            margin: 0;
            padding: 0.5rem;
            font-size: 2rem;
            font-weight: bold;

            span {
                color: @primary-color; 
                font-size: 2.2rem;
            }
        }
    }

    nav {
        width: 100%;

        @media (min-width: #breaks[tablet]) {
            flex: 1;
            width: auto;
        }

        ul {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            flex-direction: column;

            @media (min-width: #breaks[tablet]) {
                flex-direction: row;
                justify-content: flex-end;
            }

            li {
                border-bottom: 1px solid @primary-color-dark;

                @media (min-width: #breaks[tablet]) {
                    border-bottom: none;
                }

                a {
                    display: block;
                    padding: 0.75rem 1rem;
                    color: @secondary-color;
                    text-decoration: none;
                    width: 100%;

                    @media (min-width: #breaks[tablet]) {
                        display: inline-block;
                    }

                    &:hover {
                        text-decoration: underline;
                        background-color: @primary-color-light;
                        color: @secondary-text-color;
                    }
                }
            }
        }
    }
}
